'use client';

import { type ReactElement } from 'react';

import * as S from './styles';

import { I{{pascalCase name}}Props } from './interfaces';

const {{pascalCase name}} = (props: I{{pascalCase name}}Props): ReactElement => (
    <S.Container>
        <h1>{{pascalCase name}}</h1>
    </S.Container>
);

export default {{pascalCase name}};
